:root
{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ff6965;
    --primary-color-rgba:rgb(255, 105, 101);
    --border-color: #dbdbdd;
    --star-gold-color:#ffce3d;
    --header-height: 140px;
    --navbar-height: 24px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height : 46px;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid__row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2
{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4
{
    padding-left: 5px;
    padding-right: 5px;
    width:20%;
}
.grid__column-10
{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;   
}
/*Animation*/
@keyframes FadeIn
{
    from
    {
        opacity: 0;
    }
    to 
    {
        opacity: 1;
    }
}
@keyframes Growth
{
    from{
        transform: scale(var(--Growth-from));
    }
    to{
        transform: scale(var(--Growth-to));
    }
}
/*Modal*/
.modal
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    animation: FadeIn linear .1s;
}
.modal__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.modal__body
{
    --Growth-from: 0.7;
    --Growth-to: 1;
    margin: auto;
    z-index: 1;
    position: relative;
    animation: Growth linear 0.1s;
}
/*Button Style*/
.btn
{
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}
.btn.btn-hover-normal:hover
{
    background-color: rgb(0,0,0,0.1);
}
.btn.btn--primary
{
    color: var(--white-color);
    background-color: var(--primary-color) ;
}
.btn.btn--size-s
{
    height: 30px;
    font-size: 12px;
}
.mt-left-16
{
    margin-left: 16px;
}
/* Selection */
.select-input
{
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.select-input__icon
{
    font-size: 1.4rem;
    color: #777;
    position: relative;
    top: 2px;
}
.select-input__list
{
    position: absolute;
    left: 0;
    right: 0;
    top: 78%;
    border-radius: 2px;
    list-style: none;
    padding: 12px 16px;
    background-color: var(--white-color);
    display: none;
    margin: 0;
    z-index: 1;
}
.select-input__link
{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 6px 0;
}
.select-input__link:hover
{
    color: var(--primary-color);
}
.select-input:hover 
.select-input__list
{
    display: block;
}
/* Pagination */
.pagination
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item
{
    margin: 0 8px;
}
.pagination-item__link
{
    --height:30px;
    text-decoration: none;
    font-size: 1.7rem;
    color: #939399;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    font-weight: 300;
}
.pagination-item--active a
{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover
{
    background-color: rgb(231, 79, 53);
}
.pagination-item--disabled .pagination-item__link:hover
{   
    color: var(--primary-color);
    font-weight: 400;
}
.center-text{
    text-align: center;
}