/* Mobile & Tablet */
@media (max-width: 1023px)
{
    :root
    {
        --header-height: 90px;
        --navbar-height: 0px;
    }
    .hide-mobile-tablet
    {
        display: none;
    }
    .header__cart-list
    {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    }
    .header__cart-list::after
    {
        display: none;
    }
    .header-with-search
    {
        width: 100%;
        display: inline-flex;
    }
    .header {
        height: var(--header-height);
        position: fixed;
        top: 0;
        z-index: 10;
    }
    .app__container
    {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__search
    {
        margin-left: 20px;
    }
    .header__sort-bar
    {
        display: flex;
    }
    .app__content
    {
        padding-top: 0;
    }
    .mobile-category
    {
        display: block;
    }
    .mobile-category__list
    {
        margin-bottom: 0;
    }
    .header__sort-item:last-child
    {
        display: block;
    }
    .home-product-item
    {
        -webkit-tap-highlight-color: transparent;
    }
}
        
/* Tablet */
@media (min-width:740px) and (max-width: 1023px)
{
    .hide-on-tablet
    {
        display: none;
    }
    .header__cart {
        width: 82px;
        text-align: right;
    }
    .header__cart-icon
    {
        font-size: 2.5rem;
    }
    .header__cart-notice
    {
        font-size: 1rem;
    }
    .footer__logo-img
    {
        text-align: center;
    }
}
/* Mobile */
@media (max-width: 739px)
{
    .hide-on-mobile
    {
        display: none;
    }
    .header-with-search
    {
        justify-content: space-between;
        margin: 0;
    }
    .header__logo
    {
        width: 20%;
    }
    .header__logo-img {
        width: 100px;
        height: 100%;
    }
    .header__cart
    {
        width:unset;
        padding-right: 20px;
    }
    .header__mobile-search {
        padding: 0 0 0 16px;
        display: inline-block;
    }
    .header__search
    {
        position: fixed;
        left: 0;
        right: 0;
        margin: 0;
        top: var;
        height: 48px;
        top: var(--header-height);
        z-index: 1;
        box-shadow: 0 1px 2px #ccc;
        padding: 0 8px;
        animation: mobileSearchSlideIn linear 0.3s;
        display: none;
    }
    @keyframes mobileSearchSlideIn {
        from{
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    .header__search-hitory
    {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        width: 100%;
        left: 0;
        box-shadow: 0 1px 2px #ccc;
    }
    .pagination-item__link
    {
        height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    .pagination-item
    {
        margin: 0;
    }
    .app__content
    {
        margin: 0 4px;
    }
    .footer__heading
    {
        text-align: center;
    }
    .footer-item__link
    {
        display: block;
        text-align: center;
    }
    .footer__logo-img
    {
        text-align: center;
    }
    .footer__download
    {
        margin-left: 20px;
    }
}
